@import './../../../assets/Sass/variable.scss';

.invoice--item{
    line-height: 1.5;
    div[class|=invoice]{
        display: table-cell;
        padding: 0px 15px;
        margin-bottom: 24px;
    }

    .invoice-prod{
        overflow: hidden!important;
        display: -webkit-box!important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }

    a:hover{
        color: $primary-color;
    }
}

.invoice--item.box{
    display: none;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;

    padding: 15px 15px;
    border-top: 1px solid #ccc;
    background-color: #fff;

    p{
        margin: 0;
    }

    .invoice--text{
        padding: 0;
    }

    .invoice--title{
        color: $main-color;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0;
    }

    .invoice--status{
        color: rgb(38, 188, 78);
        padding: 0;

        .time{
            color: rgb(250, 19, 19);
        }
    }
}



// ========================================================
// RESPONSIVE
// ========================================================
@media screen and (max-width: 320px){
    .invoice--item{
        display: none;
    }

    .invoice--item.box{
        display: flex;
    }
}