@import './../../../assets/Sass/variable.scss';
.search-box{
    position: relative;
    input{
        border: 2px solid #e2e2e2;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;

        font-size: 14px;
        flex: 1;
    }

    button{
        background-color: $primary-color;
        color: #fff;
        height: 35px;
        width: 35px;

        &:hover{
            background-color: #333;
        }
    }

    .search-result{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        background-color: #fff;
        box-shadow: 0 6px 21px #b7b2b2;
        padding: 0 15px;
        z-index: 10;

        &--item{
            padding: 4px 0;
            cursor: pointer;

            span{
                font-weight: 900;
                color: $primary-color;
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
}