@import './../../../assets/Sass/variable.scss';

.confirm-info{
    form.form-info-invoice{
        margin-top: 20px;
    }
}
form.form-info-invoice{
    .row{
        display: flex;
        align-items: center;
        margin: 15px 0;

        .form-group{
            flex: 1;

            &:first-child{
                padding-right: 15px;
            }
            &:last-child{
                padding-left: 15px;
            }
        }
    }
}

.input-control{
    width: 100%;
    padding: 11px 20px;
    outline: 0;
    resize: none;

    font-family: 'Open Sans',sans-serif;
    line-height: 28px;
    background-color: #fff;
    color: #666;

    box-sizing: border-box;
    border: 1px solid #efefef;
    font-size: 14px;

    &::placeholder{
        color: $primary-color;
    }

    &:focus{
        border: 1px solid $second-color;
    }
}